<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function myFunction() {

  const scroller = document.getElementById('myDIV');

  let height = scroller.clientHeight;
  let scrollHeight = scroller.scrollHeight - height;
  let scrollTop = scroller.scrollTop;
  let percent = Math.floor(scrollTop / scrollHeight * 100);

  $.get(
    "https://robot.mrel.de/nodered/scrollbar",
    {percentage: percent, user: document.cookie.match(new RegExp('(^| )username=([^;]+)'))[2], lesson: window.location.pathname },
    function(data) {
       console.log('yay');
    }
  );

}

if (document.cookie.match(new RegExp('(^| )username=([^;]+)'))){
  console.log('is set');
} else {
  console.log('not set');
  var d = new Date();
  d.setTime(d.getTime() + (30*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  var person = prompt("Please enter your name", "Harry Potter");
  document.cookie = "username=" + person + ";" + expires + ";path=/";
}

</script>
